@font-face
{
	font-family: 'Roboto';
	src: url('Fonts/Roboto/Roboto-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Roboto', sans-serif;
}

.header
{
	width: 100%;
	height: 3.5em;
	position: fixed;
	display: flex;
	float: left;
	box-shadow: 0px 0px 1.5em -0.5em;
}

#leftblock
{
	display: flex;
	min-width: 17em;
	height: 100%;
	background-color: white;
	float: left;
	align-items: center;
}

#leftblock img
{
	height: 90%;
	width: 3.6em;
	margin: 0 7%;
}

#yline
{
	width: 0.2%;
	height: 100%;
	background: rgb(252, 222, 6);
	float: left;
}

#rightblock
{
	display: flex;
	flex-grow: 1;
	height: 100%;
	float: left;
	background: rgb(0, 82, 208);
	align-items: center;
}

#rightblock p
{
	margin: auto 2.5%;
	color: white;
}

#rightblock a
{
	margin-left: 1.5em;
	color: white;
	text-decoration: none;
}

#rightblock a:hover
{
	color: yellow;
}

.content
{
	display: block;
	float: left;
	color: black;
	margin-top: 5em;
	margin-left: 2.3em;
}

.content p
{
	margin-top: 0.9em;
}

.tagstyle
{
	background: rgb(242, 201, 76);
	border-radius: 3.5px;
	padding: 0.1em 0.5em;
}

#form
{
	margin-top: 3em;
	width: 25%;
}

#form input
{
	width: 100%;
	height: 3em;
	border: 0.1px solid rgb(184,184,184);
	border-radius: 5px;
	background: rgb(244,236,236);
}

#form input[type=checkbox]
{
	width: 1.7em;
	height: 1.7em;
}

#form input[type=checkbox]:checked
{
	background: white;
}

#form input[type=submit]
{
	height: 2.223em;
	color: white;
	font-size:18px;
	text-align: center;
	background: rgb(0, 82, 208);
}

#form input::placeholder
{
	color: rgb(184,184,184);
	font-size:18px;
	text-align: center;
}
#form input
{
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

#chbox
{
	margin-bottom: 1.5em;
}

#chbox input
{
	float: left;
	margin-right: 1em;
}

